@inherits GalleryBlockComponent<MudBlazorBlocklyListOptions>
@if (Options.Storage is not null)
{
    if (Block.Pictures.Any())
    {
        @if (Block.Pictures.Count > 1)
        {
            <div class="block-content">
                <MudCarousel AutoCycle="true" AutoCycleTime="TimeSpan.FromSeconds(2)" ItemsSource="Block.Pictures">
                    <ItemTemplate>
                         <img src="@Options.Storage.PublicUri(context).ToString()" alt="Image: @context.FileName"/>
                    </ItemTemplate>
                </MudCarousel>
            </div>
        }
        else
        {
            var image = Block.Pictures.First();
            <div class="single-image">
                <img src="@Options.Storage.PublicUri(image).ToString()" alt="Image: @image.FileName"/>
            </div>
        }
    }
}
else
{
    <MudBlockErrorComponent Error="@LocalizationProvider["Storage is not configured"]"></MudBlockErrorComponent>
}
