@typeparam TForm
@inherits Sitko.Blockly.Blazor.Forms.Blocks.IFrameBlockForm<TForm>
<FormItem Label="@LocalizationProvider["Source"]">
    <Input @bind-Value="@Block.Src"/>
</FormItem>
@if (!string.IsNullOrEmpty(Block.Src))
{
    <div class="iframe-container-wrapper">
        <div class="iframe-container">
            <iframe src="@Block.Src"
                    width="@(Block.Width > 0 ? Block.Width : null)" height="@(Block.Height > 0 ? Block.Height : null)"
                    frameborder="0" allowfullscreen class="iframe-content">
            </iframe>
        </div>
    </div>
}
