@typeparam TEntity
@typeparam TForm
@inherits Sitko.Blockly.Blazor.Forms.BlocklyForm<TEntity, TForm, AntDesignBlocklyFormOptions>
<div class="blockly-form">
    @if (!string.IsNullOrEmpty(Label))
    {
        <label class="blockly-form-label">@Label</label>
    }
    @if (Blocks.Any())
    {
        foreach (var block in Blocks)
        {
            var blockDescriptor = @Blockly.GetBlockDescriptor(block.GetType());
            var className = $"block-form block-{block.GetType().Name.ToLowerInvariant()} {(block.Enabled ? "block-enabled" : "block-disabled")}";
            <div class="block-row" @key="block.Id">
                <div class="block-content">
                    <AntDesign.Card Hoverable Class="@className">
                        <Spin Spinning="!block.Enabled" Indicator="_disabledBlockIndicator">
                            @(RenderBlockForm(blockDescriptor, block))
                        </Spin>
                    </AntDesign.Card>
                </div>
                <div class="block-controls">
                    <div class="block-mainicon">
                        @blockDescriptor.Icon
                    </div>
                    <AntDesign.Button Size="small" OnClick="@(() => block.Enabled = !block.Enabled)" Class="block-disable-button">
                        <Icon Type="eye-invisible"></Icon>
                    </AntDesign.Button>
                    <AntDesign.Popconfirm Placement="@PlacementType.Left" Title="@LocalizationProvider["Delete block?"]"
                                          OnConfirm="@(() => DeleteBlock(block))"
                                          OkText="@LocalizationProvider["Delete block"]"
                                          CancelText="@LocalizationProvider["Cancel"]">
                        <AntDesign.Button Size="small">
                            <Icon Type="delete"></Icon>
                        </AntDesign.Button>
                    </AntDesign.Popconfirm>
                    <AntDesign.Button Size="small" Disabled="!Blocks.CanMoveUp(block)" OnClick="@(() => MoveBlockUp(block))">
                        <Icon Type="up"></Icon>
                    </AntDesign.Button>
                    <AntDesign.Button Size="small" Disabled="!Blocks.CanMoveDown(block)" OnClick="@(() => MoveBlockDown(block))">
                        <Icon Type="down"></Icon>
                    </AntDesign.Button>
                </div>
            </div>
            @AddPanelTemplate(block)
        }
    }
    else
    {
        <div class="blocks-add-first">@LocalizationProvider["Wow! Such empty! Add first block!"]</div>
        @AddPanelTemplate()
    }
</div>

@code{

    private RenderFragment _disabledBlockIndicator = @<span class="block-disabled-icon">
                                                         <Icon Type="eye-invisible"></Icon>
                                                     </span>;

    private RenderFragment AddPanelTemplate(ContentBlock? afterBlock = null)
    {
        return @<div class="add-block-panel @(CanAdd() ? "" : "add-block-panel-disabled")">
                   <AntDesign.Icon Class="plus-icon" Type="plus"></AntDesign.Icon>
                   @if (CanAdd())
                   {
                       foreach (var descriptor in BlockDescriptors)
                       {
                           <span class="add-block-button" title="@descriptor.Title">
                               <AntDesign.Button Disabled="!CanAdd(descriptor)" Size="@AntSizeLDSType.Small" OnClick="() => AddBlock(descriptor, afterBlock)">@descriptor.Icon</AntDesign.Button>
                           </span>
                       }
                   }
                   else
                   {
                       <span class="max-blocks-error">@LocalizationProvider["Maximum blocks already added to form"]</span>
                   }
               </div>;
    }

}
