@inherits AntDomComponentBase

<Row class="@ClassMapper.Class" style="@Style" id="@Id">
    @if (!string.IsNullOrEmpty(Label) || LabelTemplate != null)
    {
        <AntDesign.Col @attributes="GetLabelColAttributes()" Class="@labelClassMapper.Class">
            @if (LabelTemplate != null)
            {
                @LabelTemplate
            }
            else
            {
                <label class=@GetLabelClass()>@(Label)</label>
            }
        </AntDesign.Col>
    }
    <AntDesign.Col @attributes="GetWrapperColAttributes()" Class=@($"{prefixCls}-control")>
        <div class=@($"{prefixCls}-control-input")>
            <div class=@($"{prefixCls}-control-input-content")>
                @ChildContent
            </div>
        </div>
        <AntBlockValidationMessage BlockForm="BlockForm"></AntBlockValidationMessage>
    </AntDesign.Col>
</Row>
