@typeparam TEntity
@typeparam TForm
@inherits Sitko.Blockly.Blazor.Forms.BlocklyForm<TEntity, TForm, AntDesignBlocklyFormOptions>
<div class="blockly-form blockly-form-@ModuleOptions.Value.Theme.ToString().ToLowerInvariant()">
    @if (!string.IsNullOrEmpty(Label))
    {
        <label class="blockly-form-label">@Label</label>
    }
    @if (Blocks.Any())
    {
        foreach (var block in Blocks)
        {
            var blockDescriptor = Blockly.GetBlockDescriptor(block.GetType());
            var className = $"block-form block-{block.GetType().Name.ToLowerInvariant()} {blockDescriptor.FormComponentCssClass} {(block.Enabled ? "block-enabled" : "block-disabled")}";
            <div class="@className" style="order: @block.Position" @ref="@BlockElements[block.Id]" id="@block.Id">
                <div class="block-row" @key="@block.Id">
                    <div @key="@block.Id" class="block-content">
                        <AntDesign.Card @key="@block.Id" Class="@className">
                            <Spin @key="@block.Id" Spinning="!block.Enabled" Indicator="disabledBlockIndicator">
                                @(RenderBlockForm(blockDescriptor, block))
                            </Spin>
                        </AntDesign.Card>
                    </div>
                    <div class="block-controls block-controls-default">
                        <div class="block-mainicon" title="@blockDescriptor.Title">
                            @blockDescriptor.Icon
                        </div>
                        <span title="@(block.Enabled ? LocalizationProvider["Disable block"] : LocalizationProvider["Enable block"])">
                            <AntDesign.Button Size="Default" OnClick="@(() => block.Enabled = !block.Enabled)" Class="block-disable-button">
                                <Icon Type="eye-invisible"></Icon>
                            </AntDesign.Button>
                        </span>
                        <span title="@LocalizationProvider["Delete block"]">
                            <AntDesign.Popconfirm Placement="@Placement.Left" Title="@LocalizationProvider["Delete block?"]"
                                                  OnConfirm="@(() => DeleteBlock(block))"
                                                  OkText="@LocalizationProvider["Delete block"]"
                                                  CancelText="@LocalizationProvider["Cancel"]">
                                <AntDesign.Button Size="Default">
                                    <Icon Type="delete"></Icon>
                                </AntDesign.Button>
                            </AntDesign.Popconfirm>
                        </span>
                        <span title="@LocalizationProvider["Move up"]">
                            <AntDesign.Button Size="Default" Disabled="!CanMoveBlockUp(block)" OnClick="@(() => MoveBlockUpAsync(block))">
                                <Icon Type="up"></Icon>
                            </AntDesign.Button>
                        </span>
                        <span title="@LocalizationProvider["Move down"]">
                            <AntDesign.Button Size="Default" Disabled="!CanMoveBlockDown(block)" OnClick="@(() => MoveBlockDownAsync(block))">
                                <Icon Type="down"></Icon>
                            </AntDesign.Button>
                        </span>
                    </div>
                </div>
                @AddPanelTemplate(block)
            </div>
        }
    }
    else
    {
        <div class="blocks-add-first">@LocalizationProvider["Wow! Such empty! Add first block!"]</div>
        @AddPanelTemplate()
    }
</div>

@code{

    private RenderFragment disabledBlockIndicator = @<span class="block-disabled-icon">
                                                        <Icon Type="eye-invisible"></Icon>
                                                    </span>;

    private RenderFragment AddPanelTemplate(ContentBlock? afterBlock = null)
    {
        return @<div class="add-block-panel add-block-panel-default @(CanAdd() ? "" : "add-block-panel-disabled")">
                   <div class="add-block-items_wrapper">
                       <AntDesign.Icon Class="plus-icon plus-icon_default" Type="plus"></AntDesign.Icon>
                       @if (CanAdd())
                       {
                           foreach (var descriptor in BlockDescriptors)
                           {
                               <span class="add-block-button" title="@descriptor.Title">
                                   <AntDesign.Button Disabled="!CanAdd(descriptor)" Size="@AntSizeLDSType.Default" OnClick="() => AddBlock(descriptor, afterBlock)">@descriptor.Icon</AntDesign.Button>
                               </span>
                           }
                       }
                       else
                       {
                           <span class="max-blocks-error">@LocalizationProvider["Maximum blocks already added to form"]</span>
                       }
                   </div>
               </div>;
    }

}
