@using global::AntDesign
@inherits BlocklyFormBase

<div id="blocks-@Entity.GetHashCode()">
    @foreach (var block in Blocks)
    {
        var blockDescriptor = @Blockly.GetBlockDescriptor(block.GetType());
        var className = $"block-form block-{block.GetType().Name.ToLowerInvariant()}";
        <div class="block-row" @key="block.Id">
            <div style="width:30px; text-align: center">
                @blockDescriptor.Icon
            </div>
            <div style="flex: 1; padding: 0 10px;">
                <AntDesign.Dropdown Class="add-block add-block-top" Trigger="@(new[] {TriggerType.Click})">
                    <Overlay>
                        <AntDesign.Menu>
                            @foreach (var descriptor in Blockly.Descriptors)
                            {
                                <AntDesign.MenuItem OnClick="@(() => AddBlock(descriptor.Type, block, false))">
                                    @descriptor.Icon @descriptor.Title
                                </AntDesign.MenuItem>
                            }
                        </AntDesign.Menu>
                    </Overlay>
                    <ChildContent>
                        <Button Size="small" Shape="circle">
                            <i class="fas fa-plus"></i>
                        </Button>
                    </ChildContent>
                </AntDesign.Dropdown>
                <AntDesign.Card Class="@className">
                    <Body>
                    @blockDescriptor.RenderBlockForm(block)
                    </Body>
                </AntDesign.Card>
                <AntDesign.Dropdown Class="add-block add-block-bottom" Trigger="@(new[] {TriggerType.Click})">
                    <Overlay>
                        <AntDesign.Menu>
                            @foreach (var descriptor in Blockly.Descriptors)
                            {
                                <AntDesign.MenuItem OnClick="@(() => AddBlock(descriptor.Type, block))">
                                    <i class="@descriptor.Icon"></i> @descriptor.Title
                                </AntDesign.MenuItem>
                            }
                        </AntDesign.Menu>
                    </Overlay>
                    <ChildContent>
                        <Button Size="small" Shape="circle">
                            <i class="fas fa-plus"></i>
                        </Button>
                    </ChildContent>
                </AntDesign.Dropdown>
            </div>
            <div class="block-controls">
                <AntDesign.Button Size="small" Disabled="!CanMoveBlockUp(block)" OnClick="@(() => MoveBlockUp(block))">
                    <i class="fas fa-arrow-up"></i>
                </AntDesign.Button>
                <AntDesign.Popconfirm Placement="@PlacementType.Left" Title="Вы действительно хотите удалить это блок?"
                                      OnConfirm="@(() => DeleteBlock(block))"
                                      OkText="Удалить"
                                      CancelText="Нет">
                    <AntDesign.Button Size="small">
                        <i class="fas fa-trash"></i>
                    </AntDesign.Button>
                </AntDesign.Popconfirm>
                <AntDesign.Button Size="small" Disabled="!CanMoveBlockDown(block)" OnClick="@(() => MoveBlockDown(block))">
                    <i class="fas fa-arrow-down"></i>
                </AntDesign.Button>
            </div>
        </div>
    }
</div>
