@inherits IFrameBlockForm<MudBlazorBlocklyFormOptions>
<!--suppress HtmlDeprecatedAttribute -->
<AntFormItem Label="@LocalizationProvider["Url"]" Hint="@LocalizationProvider["Page url to embed"]">
    <Input @bind-Value="@Block.Src" Placeholder="@LocalizationProvider["Source"]"/>
</AntFormItem>
@if (!string.IsNullOrEmpty(Block.Src))
{
    <div class="iframe-container-wrapper">
        <div class="iframe-container">
            @* ReSharper disable once Html.Obsolete *@
            <iframe src="@Block.Src"
                    frameborder="0" allowfullscreen class="iframe-content">
            </iframe>
        </div>
    </div>
}
