@using global::MudBlazor
@inherits IFrameBlockForm<MudBlazorBlocklyFormOptions>
<!--suppress HtmlDeprecatedAttribute -->
<MudItem>
    <MudTextField @bind-Value="@Block.Src" Placeholder="@LocalizationProvider["Source"]" Label="@LocalizationProvider["Url"]" />
    <MudTooltip Text="@LocalizationProvider["Page url to embed"]">
             <MudIconButton Class="mx-2" Icon="@Icons.Material.Outlined.Info" />
         </MudTooltip>
</MudItem>
@if (!string.IsNullOrEmpty(Block.Src))
{
    <div class="iframe-container-wrapper">
        <div class="iframe-container">
            @* ReSharper disable once Html.Obsolete *@
            <iframe src="@Block.Src"
                    frameborder="0" allowfullscreen class="iframe-content">
            </iframe>
        </div>
    </div>
}
