@using global::MudBlazor
@inherits YoutubeBlockForm<MudBlazorBlocklyFormOptions>
<!--suppress HtmlDeprecatedAttribute -->
<MudItem>
    <MudTextField Label="@LocalizationProvider["Url"]" Placeholder="@LocalizationProvider["Video url"]" @bind-Value="@Block.Url"/>
    <MudTooltip Text="@LocalizationProvider["Full YouTube video url"]">
        <MudIconButton Class="mx-2" Icon="@Icons.Material.Outlined.Info" />
    </MudTooltip>
</MudItem>
@if (!string.IsNullOrEmpty(Block.YoutubeId))
{
    <div class="youtube-container-wrapper">
        <div class="youtube-container">
            @* ReSharper disable once Html.Obsolete *@
            <iframe src="@Block.Url"
                    frameborder="0" allowfullscreen class="youtube-video">
            </iframe>
        </div>
    </div>
}
