@typeparam TEntity
@inherits GalleryBlockComponent<TEntity, AntDesignBlocklyListOptions>
@if (ListOptions.Storage is not null)
{
    if (Block.Pictures.Any())
    {
        if (Block.Pictures.Count > 1)
        {
            <Carousel Autoplay="TimeSpan.FromSeconds(2)">
                @foreach (var image in Block.Pictures)
                {
                    <CarouselSlick>
                        <img src="@ListOptions.Storage.PublicUri(image).ToString()" alt="Image: @image.FileName"/>
                    </CarouselSlick>
                }
            </Carousel>
        }
        else
        {
            var image = Block.Pictures.First();
            <div class="single-image">
                <img src="@ListOptions.Storage.PublicUri(image).ToString()" alt="Image: @image.FileName"/>
            </div>
        }
    }
}
else
{
    <AntBlockErrorComponent Error="@LocalizationProvider["Storage is not configured"]"></AntBlockErrorComponent>
}


